html
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.form-control:focus {
  border-color: #638c9c;
  box-shadow: 0 0 0 0.25rem rgb(177 197 205 / 50%);
}

.color-tree {
  color: #46616d;
}

.max-vh-91 {
  max-height: 91vh;
}

.w-33 {
  width: 33% !important;
}