.searchPanel {
    margin-top: 1rem;
    margin-left: 1rem;
    line-height: 2rem;
}

.searchPanel .titlePanel {
    padding: 0;
}

.searchPanel .title {
    font-size: 1.8rem;
    cursor: pointer;
}

.searchPanel input {
    border-radius: 0.3rem;
    font-size: 1rem;
}

.searchPanel .searchIcon {
    padding-top: 0.1rem;
    margin-left: -0.6rem;
    
    font-size: 1.7rem;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  
    /* text-decoration: none; */
    color: #46616d;
    cursor: pointer;
    /* margin-left: 1rem; */
}

.linkIcon {
    padding-top: 0.2rem;
    margin-left: 0.2rem;
    
    font-size: 1.2rem;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  
    /* text-decoration: none; */
    color: #46616d;
    cursor: pointer;
    /* margin-left: 1rem; */
}

.listGroupHover li:hover{
    background: rgba(138, 158, 167, 0.2);
  }